<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CarSaleSystem</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> 首页
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="brands">
                <span class="bi bi-tags-fill-nav-menu" aria-hidden="true"></span> 品牌管理
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="series">
                <span class="bi bi-diagram-3-fill-nav-menu" aria-hidden="true"></span> 车系管理
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cars">
                <span class="bi bi-car-front-fill-nav-menu" aria-hidden="true"></span> 车辆管理
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="customers">
                <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> 客户管理
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="employees">
                <span class="bi bi-person-badge-fill-nav-menu" aria-hidden="true"></span> 员工管理
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="orders">
                <span class="bi bi-cart-fill-nav-menu" aria-hidden="true"></span> 订单管理
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="carshops">
                <span class="bi bi-shop-nav-menu" aria-hidden="true"></span> 门店管理
            </NavLink>
        </div>
    </nav>
</div>